anyio==3.3.4
async-generator==1.10
attrs==21.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
cffi==1.14.6
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
cryptography==35.0.0
distlib==0.3.3
docopt==0.6.2
filelock==3.3.2
Flask==2.0.2
greenlet==1.1.2
h11==0.12.0
httpcore==0.13.7
httpx==0.20.0
idna==3.3
IMDbPY==2021.4.18
itsdangerous==2.0.1
Jinja2==3.0.2
lxml==4.6.4
MarkupSafe==2.0.1
outcome==1.1.0
pipreqs==0.4.11
platformdirs==2.4.0
pycparser==2.20
pyOpenSSL==21.0.0
requests==2.26.0
rfc3986==1.5.0
selenium==4.0.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.2.1
SQLAlchemy==1.4.26
style==1.1.0
trio==0.19.0
trio-websocket==0.9.2
update==0.0.1
urllib3==1.26.7
virtualenv==20.10.0
Werkzeug==2.0.2
wsproto==1.0.0
yarg==0.1.9
youtube-search-python==1.5.1
