{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--
<canvas id="myChart" width="400" height="100"></canvas>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
-->
<div class="text-center">Last updated: {{ time_ago }}</div>
<ul class="list-group">
    {% for movie in recent.movies[0:10] %}
    <li class="list-group-item">
	<div class="d-flex">
	    <div class="flex-shrink-0">
		<img class="img-fluid" style="width:100px" src="{{ movie.poster }}">
	    </div>
	    <div class="flex-grow-1 ms-3">
		<h4>
		    {{ movie.title }}
		</h4>
	    {% for scraper in movie.scrapers %}
	    <p>{{ scraper.name }} - {{ scraper.score }} ({{ scraper.votes }})</p>
	    {% endfor %}
	    </div>
	    Director: {{ movie.director }}
	    <br>
	    {% if movie.cast %}Starring: {% for cast in movie.cast %}{{cast}} {% endfor %}{% endif %}
	    <br>
	    Plot: {{ movie.plot }}
	    <br>
	    Runtime: {{ movie.runtime }}
	    <br>
	    Release: {{ movie.release }}
	    <br>
	    Rating: {{ movie.rating }}
	    <br>
	    Genre: {% for genre in movie.genre %}{{genre}} {% endfor %}
	    <h4>
		{{ movie.score }}
	    </h4>
	</div>
    </li>
    {% endfor %}
</ul>
{% endblock body %}
